.view-button {
  background: #32b2ad;
  border-radius: 28px;
  color: white;
  width: 100%;
}
.add-to-cart-button {
  background: #ff6421;
  border-radius: 28px;
  color: white;
}

.filter-section {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  font-family: serif;
}

input,
input[type="checkbox"],
input[type="radio"] {
  border: 2px solid #32b2ad !important;
}
