.imbliss-cart {
    $teal-seal: #19aaaa;

    .imbliss-icon-cart {
        //color: white;
    }

    .list-group-item,
    .imbliss-cart-container {
        background-color: var(--background-color);
    }

    .imbliss-cart-header {
        font-size: .75em;
    }

    #cart-header-icon {
        margin-right: 5px;
    }

    .imbliss-cart-card-header {
        font-size: 1.0675em;
    }

    .imbliss-cart-container {
        padding: 10px;
        //border-radius: 10px;
    }

    .imbliss-cart-quantity {
        font-size: .75em;
    }

    .imbliss-cart-img {
        width: 206px;
        height: 126px;
    }

    .btn-primary,
    .btn-primary.disabled {
        background-color: $teal-seal;
        border-color: grey;
    }
}