/* Import adobe */
@import url("https://use.typekit.net/kxn5mjl.css");

h2 {
    /* Layout Properties */
    top: 259px;
    left: 1085px;
    width: 240px;
    height: 54px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-source-serif-4-display);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal bold 40px/54px Source Serif 4 Display;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.view-page-price {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px var(--unnamed-font-family-source-serif-4-display);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-484848);
    text-align: left;
    font: normal normal bold 22px/30px Source Serif 4 Display;
    letter-spacing: 0px;
    color: #484848;
    opacity: 1;
    margin-top: 31px;
    margin-bottom: 30px;
    color: #484848;
    size: 22px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/30px var(--unnamed-font-family-source-serif-4-display);
    font-family: serif;
}

.view-page-desc {
    /* Layout Properties */
    top: 494px;
    left: 1085px;
    width: 596px;
    height: 88px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/30px var(--unnamed-font-family-komet);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-707070);
    text-align: left;
    font: normal normal normal 20px/30px Komet;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.product_img {
    margin-right: 149px;
}

.product {
    margin-top: 144px;
    margin-bottom: 200px;
}

.btn-add-to-cart {
    background-color: #FF6421;
    color: #F9F8F7;
    font-size: 19px;
    padding: 10px 60px;
    margin-right: 20px;
    border-radius: 80px;
    float: right;
}

.btn-add-to-cart>span {
    margin-right: 18px;
}

.review {
    margin-bottom: 276px;
}

.input-group {
    margin-left: 20px;
    top: -60px;
    float: left;
}

.input-group>span>input[type="text"] {
    width: 30;
    text-align: center;
}

#review_total {
    margin-left: 18px;
}