/* hero section */
#hero-section {
  background: linear-gradient(90deg, #ffffff 0%, #ffffff00 100%),
    url("../images/main/kitchen-countertop-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
#hero-section-image {
  border: 1px solid var(--unnamed-color-707070);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  width: 813px;
  height: 635px;
}
#hero-section-add-to-cart-button {
  background: var(--unnamed-color-ff6421) 0% 0% no-repeat padding-box;
  background: #ff6421 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
  width: 237px;
  height: 50px;
}
#hero-section-view-button {
  background: var(--unnamed-color-32b2ad) 0% 0% no-repeat padding-box;
  background: #32b2ad 0% 0% no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
}

/* product mockups */
.product-mockups {
  border: 1px solid var(--unnamed-color-707070);
  background: #dbdbdb 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 22px;
  width: auto;
  height: 40vh !important;
}

/* Nutritional Benefits Section */
