html {
    overflow-x: hidden;
}

body.container-fluid {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#indexBody {
    padding: 0 !important;

    section {
        padding: 50px;
    }
}

.imbliss-hidden {
    opacity: 0;
}

.imbliss-checkout-img {
    width: 256px;
    height: 197px;
}

.checkout-product-name {

    padding-left: 20px;
    font-size: 20px;
}