$headerHeight: 115px;

html {
    overflow-x: hidden;
}

body.container-fluid {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#indexBody {
    padding: 0 !important;

    section {
        padding: 50px;
    }
}

.imbliss-hidden {
    opacity: 0;
}

.imbliss-checkout-img {
    width: 256px;
    height: 197px;
}

.checkout-product-name {

    padding-left: 20px;
    font-size: 20px;
}

.invalid-input {
    background: #a7282840 !important;

    &::after {
        content: " Please Check Again."
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem #a7282840;
    }
}

.valid-input {
    background: 28a75540 !important;

    &::after {
        font-size: 2em;
        color: black;
        content: " Looks Good!"
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem #28a75540;
    }
}

#filterSection {
    position: sticky;
    width: 346px;
    height: 983px;
    top: $headerHeight;

    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFFC9 65%, #FFFFFF69 87%, #FFFFFF00 100%),
    //linear-gradient(90deg, #FFFFFF 0%, #FFFFFFC9 35%, #FFFFFF69 57%, #FFFFFF00 100%),
    url(../images/product-page-assets/leafy-background.png) !important;

    margin-top: calc($headerHeight - 93px);

    .form-check-input {
        width: 25px;
        height: 25px;
    }

    .form-group {
        margin-bottom: 1em;
        font-family: "source-serif-4-display",serif;
        font-size: 20px;
    }

    .list-group {
        margin-left: 15px;
    }
}

.sticky-placeholder {
    width: 346px;
    height: 983px;
    //top: 0 !important;
}

#productGrid {
    position: relative;
}

footer {
    position: relative;
}

@media only screen and (max-width: 1079px) {

    .sticky-placeholder {
        height: 0px !important;
        width: 0px !important;
    }

    #cartRow {

        position: relative;

        #cartForm {
            width: 100%;
            position: relative;
            display: inline;
        }
    
        #cartOverflow {
            width: unset !important;
            display: flex;
            z-index: inherit;
            position: relative;
        }
    
        #imbliss-Header {
            position: unset !important;
        }
    
        #cartNoItems {
            
        }
    }
}