/* Globals */

:root {
  --background-color: #e0d9d9;
}

body {
  margin: 0;
  padding: 0;
}

/* NavBar */
/* NavBar Parents */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: rgb(27, 15, 15);
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 30px solid #83bead;
}
#navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-logo {
  width: 117px;
  height: 23px;
}
#space-under-nav {
  height: 121px;
}

/* NavBar Children */
#navbar li {
  list-style-type: none;
}
#navbar-links li {
  display: inline;
  margin: 0 10px;
}
#navbar-buttons li {
  display: inline;
  margin: 0 10px;
}

/* Footer */
/* Footer Parents */
footer {
  display: flex;
  background-color: #83bead;
  padding: 1%;
  bottom: 0px;
  margin: 0;
}
#footer-logo {
  flex: 0 0 20%;
}
#footer-links {
  flex: 0 0 40%;
}
#footer-contact {
  flex: 0 0 40%;
}
/* Footer Children */
footer > * > ul {
  display: flex;
}
footer > * > ul > li {
  list-style-type: none;
  margin: 0 20px;
}
