/* Globals */
@import url("https://p.typekit.net/p.css?s=1&k=kxn5mjl&ht=tk&f=7821.36495.36496.36497.36499.36500.45945&a=121649505&app=typekit&e=css");
:root {
  --background-color: #e0d9d9;
}

* {
  font-family: "Komet", sans-serif;
}
h1 {
  font-family: serif;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Petersburg", serif;
}

body {
  margin: 0;
  padding: 0;
}

/* NavBar */
/* NavBar Parents */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: rgb(27, 15, 15);
  padding: 10px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 30px solid #83bead;
}
#navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav-logo {
  width: 117px;
  height: 23px;
}
#space-under-nav {
  height: 121px;
}

/* NavBar Children */
#navbar li {
  list-style-type: none;
}
#navbar-links li {
  display: inline;
  margin: 0 10px;
}
#navbar-buttons li {
  display: inline;
  margin: 0 10px;
}

/* Footer */
/* Footer Parents */
footer {
  display: flex;
  background: transparent linear-gradient(180deg, #32b2ad 0%, #257e7b 100%) 0%
    0% no-repeat padding-box;
  margin: auto;
  padding: 1%;
  text-decoration: none;
}
#footer-logo {
  flex: 0 0 20%;
}
#footer-links {
  flex: 0 0 40%;
}
.footer-link {
  list-style-type: none;
  text-decoration: none;
  margin: 0 20px;
  color: white;
}
#footer-contacts {
  flex: 0 0 40%;
}
.footer-contact {
  color: white !important;
  margin-right: 2%;
}
/* Footer Children */
footer > * > ul {
  display: flex;
}
footer div ul li {
  list-style-type: none;
}
