<footer>
  <div id="footer-logo">
    <img src="../images/nav/IWC_Final_Logo.png" id="nav-logo" />
  </div>
  <div id="footer-links">
    <ul>
      <li>
        <a href="../pages/contact-us.php" class="footer-link">Contact Us</a>
      </li>
      <li>
        <a href="../pages/privacy.php" class="footer-link">Privacy Policy</a>
      </li>
      <li>
        <a href="../pages/account.php" class="footer-link">My Account</a>
      </li>
      <li>
        <a href="../pages/product-page.php" class="footer-link">Shop</a>
      </li>
    </ul>
  </div>
  <div id="footer-contacts">
    <ul>
      <li>+1-510-555-0204</li>
      <li>ImBliss@gmail.com</li>
    </ul>
  </div>
</footer>
