<!-- Navigation Bar -->
<nav id="navbar">
  <div id="navbar-left">
    <!-- Logo -->
    <a id=" navbar-logo">
      <img src="../images/main/test-image.jpeg" class="test-img" />
    </a>
    <!-- Navigation Links -->
    <ul id="navbar-links">
      <li>
        <a href="index.php">Home</a>
      </li>
      <li>
        <a href="product-page.php">Products</a>
      </li>
      <li>About Us</li>
      <li>Contact</li>
    </ul>
  </div>
  <!-- Search Bar / Account / Cart-->
  <div id="navbar-right">
    <ul id="navbar-buttons">
      <li>
        <input type="text" placeholder="Search" />
      </li>
      <li>
        <a>Account</a>
      </li>
      <li>
        <!-- Open Shopping Cart -->
        <button
          class="btn btn-primary"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
        >
          <div class="card-header imbliss-cart-card-header">
            <i class="bi bi-cart align-self-right" id="cart-header-icon"></i
            >Cart
          </div>
        </button>
      </li>
    </ul>
  </div>
</nav>
<div id="space-under-nav"></div>
