

<div class="col-md-6">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          src="/images/main/test-image.jpeg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Product Name</h5>
          <p class="card-text">Product Description</p>
          <div class="d-flex justify-content-between">
            <a href="/pages/index.php" class="btn btn-primary">View</a>
            <button class="btn btn-success">Add to Cart</button>
            <button class="btn btn-outline-danger bi bi-heart"></button>
          </div>
          <div class="mt-2">
            <span class="bi bi-star-fill"></span
            ><span class="bi bi-star-fill"></span
            ><span class="bi bi-star-fill"></span
            ><span class="bi bi-star-fill"></span
            ><span class="bi bi-star"></span>
            <!-- Add more stars as needed -->
            <span class="ms-2">120 Reviews</span>
            <p class="mt-1">$7.90</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
